{% extends 'base.html.twig' %}

{% block body %}
    <h1>👋 Bienviendu sur el sitôw! 👋</h1>
{% endblock %}

{#  #######################
\discover-symfony\templates\base.html.twig
    #######################
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
On surcharge ce contenu avec ce qu'on écrit 
    #######################
#}